
<!-- NavBar -->
<nav class="navbar navbar-expand-lg border-body">
  <div class="container-sm">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <svg class="me-3" width="32" height="32" viewBox="0 0 152 83" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="1" y="3" width="15" height="80" rx="5" fill="#FFF"/>
          <rect x="69" y="3" width="15" height="80" rx="5" fill="#FFF"/>
          <rect x="75.033" width="15" height="60" rx="7.5" transform="rotate(45 75.033 0)" fill="#FFF"/>
          <rect y="10.6066" width="15" height="60" rx="7.5" transform="rotate(-45 0 10.6066)" fill="#FFF"/>
          <path d="M97 18C94.2386 18 92 15.7614 92 13V8C92 5.23858 94.2386 3 97 3L147 3C149.761 3 152 5.23858 152 8V13C152 15.7614 149.761 18 147 18L97 18Z" fill="#FFF"/>
          <path d="M97 83C94.2386 83 92 80.7614 92 78V73C92 70.2386 94.2386 68 97 68H147C149.761 68 152 70.2386 152 73V78C152 80.7614 149.761 83 147 83H97Z" fill="#FFF"/>
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-symbols-outlined">menu</span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav column-gap-4 justify-content-end">
          <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="project-dropdown-button">
              Projects
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Coming soon</a></li>
          </ul>
          </li> -->
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
          </li>
          <!-- <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Test</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
          </li> -->
      </ul>
    </div>
  </div>
</nav>