body {
    font-family: 'Inconsolata', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Space Mono', sans-serif; */
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'DM Sans', sans-serif; */
    /* font-family: 'Space Grotesk', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #1e1d2a;
}

body .content {
    flex: 1;
}
    
/* footer {
    padding-top: 12px;
    padding-bottom: 12px;
} */

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.nav-item {
    --bs-nav-link-color: #c9c8c7;
    --bs-nav-link-hover-color: #c9c8c7;
    /* padding: .5rem;  */
}

#project-dropdown-button {
    outline: none;
    box-shadow: none;
}

#navbarNavDropdown {
    text-align: center;
}

@media (max-width: 575.98px) {
    .navbar-brand {
      font-size:20px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
}

.navbar-collapse.show  {
    display: inline-block;
}


/* Project Cards */
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}
  
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}
  
.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  
.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.background-image {
    filter: brightness(80%);
}

.background-image:hover {
    filter: brightness(100%);
    /* transition: transform 0.9s ease;   */
}

.navbar .nav-link:hover {
    text-decoration: underline;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

.project-box {
    /* background: #3B3A49; */
    background: #2d2c38;
}