body {
    font-family: 'Inconsolata', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #1E1D2A;
}

body .content {
    flex: 1;
}

footer .release-link {
    text-decoration: none;
    position: relative;
}
footer .release-link::after {
    content: 'open_in_new';
    font-family: 'Material Symbols Outlined';
    font-size: 10px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.2s ease, right 0.2s ease;
}
/* footer .release-link:hover {
    text-decoration: underline;
} */
footer .release-link:hover::after {
    opacity: 1;
    right: 20px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.nav-item {
    --bs-nav-link-color: #c9c8c7;
    --bs-nav-link-hover-color: #c9c8c7;
}

#project-dropdown-button {
    outline: none;
    box-shadow: none;
}

#navbarNavDropdown {
    text-align: center;
}

@media (max-width: 575.98px) {
    .navbar-brand {
      font-size:20px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
}

.navbar-collapse.show  {
    display: inline-block;
}

.hero-text-link:hover {
    text-decoration: underline;
}


/* Project Cards */
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}
  
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}
  
.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  
.feature-icon-small {
    width: 3rem;
    height: 3rem;
}


.background-image {
    filter: brightness(80%);
}

.background-image:hover {
    filter: brightness(100%);
}

.navbar .nav-link:hover {
    text-decoration: underline;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

.project-box {
    /* background: #3B3A49; */
    /* background: #2d2c38; */
    /* background: #39374F; */
    background: #2C2A3D;
    transition: tranform ease 300ms;
}
.project-box:hover {
    /* background: #2C2A3D; */
    background: #39374F;
}

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}