:root {
  --static-bg-color: #1a1a2e; /* Overall background color */ /* #1E1D2A, 1a1a2e 14102C */
  --main-text-header-color: #FFF; /* Primary text header color e0e0e0*/
  --main-text-body-color: #adb5bd; /* Primary text body color e0e0e0*/
  --accent-text-color: #8787BB; /* Accent text color - #6F6B98 c9c8c7 ffc107  9d4edd*/
  --link-hover-color: #6F6B98; /* Link hover color - rgba(255, 255, 255, 0.05) #c9c8c7 00bcd4*/
  --project-card-bg-color: rgba(255, 255, 255, 0.05); /* Project box color */
}



/* General */
body {
    font-family: "Space Grotesk", monospace;
    /* font-family: "Inconsolata", monospace; */
    font-weight: 300;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--static-bg-color);
    color: var(--main-text-body-color);
}
body .content {
    flex: 1;
    font-size: 1.2rem;
}
p {
    line-height: 1.8;
}
.accent-text {
    color: var(--accent-text-color);
    font-weight: bold;
    text-decoration: none;
}
.accent-text-color {
    color: var(--accent-text-color);
}
.header-text-color {
    color: var(--main-text-header-color)
}
code {
    border-radius:8px;
}
pre code {
    font-size: 0.8rem;
}
/* .language-python {
    font-size: 0.8rem;
} */


/* Footer */
.release-link {
    text-decoration: none;
    position: relative;
}
.release-link::after {
    content: 'open_in_new';
    font-family: 'Material Symbols Outlined';
    font-size: 10px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.2s ease, right 0.2s ease;
}
.release-link:hover::after {
    opacity: 1;
    right: 20px;
}



/* Nav Bar */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.nav-item {
    --bs-nav-link-color: var(--accent-text-color);
    font-weight: bold;
    font-size: 1.2rem;
    --bs-nav-link-hover-color: var(--accent-text-color);
}
.navbar .nav-link:hover {
    --bs-nav-link-color: var(--accent-text-color);
    text-decoration: underline;
}
.nav-icon-color {
    color: var(--accent-text-color);
}
#project-dropdown-button {
    outline: none;
    box-shadow: none;
}
#navbarNavDropdown {
    text-align: center;
}
@media (max-width: 575.98px) {
    .navbar-brand {
      font-size:20px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
}
.navbar-collapse.show  {
    display: inline-block;
}
.hero-text-link {
    text-decoration: none;
}
.hero-text-link:hover {
    text-decoration: underline;
}



/* Project Pages */
.project-body-link,
.project-body-link:hover {
    color: var(--accent-text-color);
    text-decoration: underline;
}
figure {
  text-align: center;
}
figcaption {
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  font-size: 0.7rem;
  font-style: italic;
  color: #FFF;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.blog-post {
    margin-bottom: 4rem;
}
.blog-post-metadata {
    margin-bottom: 1.25rem;
}
.markdown-project-content {
    font-size: 1.25rem;
}
.markdown-project-content h1,
.markdown-project-content h2,
.markdown-project-content h3,
.markdown-project-content h4,
.markdown-project-content h5,
.markdown-project-content h6 {
    font-weight: bold;
}
.markdown-project-content img {
    max-width: 95%;
    max-height: 100%;
    height: auto;
    display: block;
    margin: 2rem auto 1rem;
    border: 1px solid var(--accent-text-color);
    border-radius: 8px;
  }



/* Project Cards */
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}
.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.feature-icon-small {
    width: 3rem;
    height: 3rem;
}
.background-image {
    filter: brightness(80%);
}
.background-image:hover {
    filter: brightness(100%);
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
.project-box {
    background: #1E1D2A;
    transition: tranform ease 300ms;
}
.project-box:hover {
    background: var(--project-card-bg-color);
}



/* Home Page */
.profile-pic {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    padding: 1px;
    background: var(--accent-text-color);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.resizable-text {
  font-size: 1.3rem;
  transition: font-size 0.2s ease-in-out;
}
@media (max-width: 576px) {
    /* mobile */
    .profile-pic {
        width: 10rem;
        height: 10rem;
    }
    .resizable-text {
        font-size: 1.1rem;
    }
}
