{% extends 'base.html' %}

{% block content %}
  <!-- Content -->
  <div class="content">

    <!-- Hero -->
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hi, I'm Matt</h1>
          <p class="lead">I work in data</p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../../static/images/headshot_pattern_1.png" class="d-block mx-lg-auto img-fluid" alt="Headshot" width="250" height="250" loading="lazy">
        </div>
      </div>
    </div>

  </div>
{% endblock content %}
