{% extends 'base.html' %}

{% block content %}
  <!-- Content -->
  <div class="content">
    <div class="container px-4 py-5">
      <div class="row g-5">

        <!-- Project Details -->
        <div class="col-md-8">

          <h3 class="pb-4 mb-4 fst-italic border-bottom text-success-emphasis">
            Web Development
          </h3>
    
          <article class="blog-post">
            <h2 class="display-5 mb-1">Portfolio Website</h2>
            <p class="blog-post-meta">October 2024</p>
            
            <h4 class="">Overview</h4>
            <p>
              For this project, the technologies listed were leveraged
              primarily due to familiarity with Python and some previous experience
              with Bootstrap.
            </p>
            <p>
              
            </p>



          </article>

        </div>
    
        <!-- Project Technologies -->
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
              <h4 class="fst-italic">Technologies</h4>
              <ul class="list-group">
                <li class="list-group-item">Python</li>
                <li class="list-group-item">Flask</li>
                <li class="list-group-item">HTML | CSS | Boostrap</li>
                <li class="list-group-item">Gunicorn</li>
                <li class="list-group-item">Railway</li>
                <li class="list-group-item">Github</li>
              </ul>
            </div>
    
            
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
